:root {
  --clr-primary: #6a1cc3;
  --clr-primary-inactic: #6a1cc3;
  --clr-secondary: #8849cf;

  --clr-surface: #fbfbfb;
  --clr-text: #000000ce;

  --ff-main: "Source Sans Pro";
  --ff-sec: "Montserrat";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--clr-surface);
  color: var(--clr-text);
  font-weight: 600;
  font-family: var(--ff-main), var(--ff-sec);
}
div {
  margin-block: 2em;
}

button {
  all: none;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  background-color: var(--clr-surface);
  box-shadow: 3.5px 3.5px var(--clr-primary);
  padding: 8px 20px;
  font-weight: 700;
}

button:focus,
button:hover {
  background: var(--clr-primary);
  color: var(--clr-surface);
}

.c1 {
  cursor: pointer;
  display: inline;

  border: 1px solid var(--clr-primary);
  padding: 16px 20px;
}

#cars {
  all: unset;
  border: 1px solid var(--clr-primary);
  padding: 8px 20px;
}
